.about {
  position: relative;
  background-color: $color_blue-whale;

  &::after {
    background-image: inherit;
    background-repeat: no-repeat;
    background-position: bottom -15px center;

    @include section-border-radius_bottom;
  }
}

.about__link {
  display: none;
}

.about__wrapper {
  box-sizing: border-box;
  padding-right: 57px;
  padding-left: 50px;

  @include container(320px);
}

.about__description {
  font-size: $text-size_default;
  line-height: 22px;
  color: $color_white;
}

.about__description_weight_light {
  font-weight: 300;
}

.about__description_weight_bold {
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .about__wrapper {
    @include container($tablet-width);
  }
}

@media (min-width: $desktop-width) {
  .about__wrapper {
    padding-right: 60px;
    padding-left: 60px;

    @include container($desktop-width);
  }

  .about__section-title {
    margin-bottom: 60px;
    padding-top: 222px;
  }

  .text_weight_bold.about__text {
    font-size: 21px;
    line-height: 25px;
    width: 410px;
  }

  .about__text {
    width: 620px;
  }

  .about__link {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 274px;
    height: 80px;
    min-height: 80px;
    margin-top: 86px;
    margin-bottom: 74px;

    &::after {
      margin-left: 80px;
    }
  }
}
