.about {
  position: relative;
  background-color: $color_blue-whale;
  background-image:
    url("../../img/about-mobile@1x.png"),
    url("../../img/blue_back.png");
  background-repeat: no-repeat;
  background-position:
    top 47px center,
    top 47px left calc(50% - 118px);

  &::after {
    background-image: inherit;
    background-repeat: no-repeat;
    background-position: bottom -15px center;

    @include section-border-radius_bottom;
  }
}

.about__wrapper {
  padding-right: 57px;
  padding-left: 50px;
  box-sizing: border-box;

  @include container(320px);
}

.about__description {
  color: $color_white;
  font-size: $text-size_default;
  line-height: 22px;
}

.about__description_weight_light {
  font-weight: 300;
}

.about__description_weight_bold {
  font-weight: 700;
}
