.about {
  @include font-family_default;
  padding-right: 57px;
  padding-left: 50px;
  background-color: $bg-color_primary_light;
  background-image: url("../../img/about-mobile@1x.png"), url("../../img/blue_back.png");
  background-repeat: no-repeat;
  background-position: 0 0, top left -19px;
}

.about__description {
  color: $text-color_light;
  font-size: 16px;
  line-height: 22px;
}

.about__description_weight_light {
  font-weight: 300;
}

.about__description_weight_bold {
  font-weight: 700;
}
