.button {
  display: flex;
  background-color: $color_mustard;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  color: $color_cello;
  border-radius: 10px;

  &_arrow-right {
    justify-content: space-between;

    &::after {
      content: "";
      width: 10px;
      height: 14px;
      background-image: url("../img/triangle-arrow-right.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
}

.button_type_view-all {
  display: block;
  padding-top: 14px;
  text-align: center;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
}
