.companions {
  position: relative;
  background-color: $color_blue-whale;

  &::after {
    @include section-border-radius_bottom;
  }
}

.companions__wrapper {
  box-sizing: border-box;

  @include container();
}

.companions__section-title {
  margin-bottom: 18px;
  padding-top: 100px;
  padding-right: 50px;
  padding-left: 50px;
}

.companions__text {
  margin-bottom: 18px;
  padding-right: 50px;
  padding-left: 50px;
}

.companions__list {
  padding-top: 35px;
  padding-right: 25px;
  padding-left: 25px;
}

.companions__button {
  margin: 25px 25px 0;
  padding: 24px;
}

.companions__card {
  position: relative;
  margin-bottom: 10px;
}

.companions__level {
  position: absolute;
  top: 16px;
  left: 17px;
}

@media (min-width: $tablet-width) {
  .companions__wrapper {
    width: 100%;
    padding-top: 222px;
    padding-right: 75px;
    padding-left: 75px;
  }

  .companions__section-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 60px;
    padding: 0;
  }

  .companions__text {
    width: 426px;
    margin-top: 0;
    margin-bottom: 46px;
    padding: 0;
  }

  .companions__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 62px 0 80px;
    padding: 0;
  }

  .companions__card {
    box-sizing: border-box;
    width: 285px;
    margin-bottom: 0;

    .card__subject {
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
    }

    .tags__item {
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  .companions__button {
    font-size: 24px;
    font-weight: 700;
    margin-right: 0;
    margin-left: 0;
    padding: 30px 34px;
  }
}

@media (min-width: $desktop-width) {
  .companions__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 758px;
  }

  .companions__section-title {
    order: 1;
    width: 50%;
  }

  .companions__list {
    order: 5;
    width: 630px;
    margin: 0;
  }

  .companions__text.text_weight_light {
    order: 2;
  }

  .companions__text.text_weight_bold {
    order: 3;
  }

  .companions__button {
    order: 4;
    box-sizing: border-box;
    width: 280px;
    margin-top: 14px;
  }

  .companions__card {
    .card__avatar {
      height: 285px;
    }
  }
}
