.companions {
  position: relative;
  background-color: $color_blue-whale;

  &::after {
    @include section-border-radius_bottom;
  }
}

.companions__wrapper {
  box-sizing: border-box;

  @include container(320px);
}

.companions__section-title {
  margin-bottom: 18px;
  padding-top: 100px;
  padding-right: 50px;
  padding-left: 50px;
}

.companions__text {
  margin-bottom: 18px;
  padding-right: 50px;
  padding-left: 50px;
}

.companions__list {
  padding-top: 35px;
  padding-right: 25px;
  padding-left: 25px;
}

.companions__button {
  margin: 25px 25px 0;
  padding: 24px;
}

.companions__card {
  position: relative;
  margin-bottom: 10px;
}

.companions__level {
  position: absolute;
  top: 16px;
  left: 17px;
}

.companions-catalog__list {
  padding-top: 38px;
}

.companions-catalog__card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 16px 20px 22px;
  border-radius: 20px;

  .card__avatar {
    overflow: hidden;
    width: 70px;
    height: 70px;
    margin-right: 16px;
    border-radius: 50%;
  }

  .card__like {
    position: absolute;
    top: 16px + 70px - 30px;
    left: 20px + 70px - 30px + 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #edeff6;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 13px 11px;
  }

  .card__subject {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-width: 100px;
    margin: 0;
  }

  .card__followers {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .card__tags {
    justify-content: flex-start;
    width: 170px;
    margin-top: 12px;
    margin-left: 8px;
    padding: 0;
  }

  .tags__item {
    margin-right: 4px;
  }

  .card__subtitle {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 8px;
  }

  .card__countries {
    position: static;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 8px;
  }

  .countries__flag {
    align-items: center;
    margin-bottom: 10px;
  }

  .countries__description {
    margin-left: 14px;
  }

  .card__like_status_liked {
    background-color: #f9eaea;
    background-image: url("../img/heart-active.svg");
  }

  .card__transports {
    flex: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;
  }

  .card__inner {
    padding: 0;
  }

  .card__inner_transport {
    width: 162px;
  }

  .card__inner_level {
    display: flex;
    align-items: center;
    flex: auto;
    flex-direction: column;

    .card__subtitle {
      box-sizing: border-box;
      width: auto;
      margin-bottom: 6px;
      margin-left: 0;
      text-align: right;
    }
  }

  .card__subject_status::before {
    top: 7px;
    right: 0;
    left: auto;
    width: 6px;
    height: 6px;
    transform: none;
  }

  .button {
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 6px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px;
  }
}

@media (min-width: $tablet-width) {
  .companions__wrapper {
    width: 100%;
    padding-top: 222px;
    padding-right: 75px;
    padding-left: 75px;

    @include container($tablet-width);
  }

  .companions__section-title {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 60px;
    padding: 0;
  }

  .companions__text {
    width: 426px;
    margin-top: 0;
    margin-bottom: 46px;
    padding: 0;
  }

  .companions__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 62px 0 80px;
    padding: 0;
  }

  .companions__card {
    box-sizing: border-box;
    width: 285px;
    margin-bottom: 0;

    .card__subject {
      font-size: 24px;
      font-weight: 700;
      line-height: 24px;
    }

    .tags__item {
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  .companions__button {
    font-size: 24px;
    font-weight: 700;
    margin-right: 0;
    margin-left: 0;
    padding: 30px 34px;
  }
}

@media (min-width: $desktop-width) {
  .companions__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 758px;

    @include container($desktop-width);
  }

  .companions__section-title {
    order: 1;
    width: 50%;
  }

  .companions__list {
    order: 5;
    width: 630px;
    margin: 0;
  }

  .companions__text.text_weight_light {
    order: 2;
  }

  .companions__text.text_weight_bold {
    order: 3;
  }

  .companions__button {
    order: 4;
    box-sizing: border-box;
    width: 280px;
    margin-top: 14px;
  }

  .companions__card {
    .card__avatar {
      height: 285px;
    }
  }
}
