.companions {
  background-color: $bg-color_primary_light;
  background-image: url("../../img/smolov-back-desktop@1x.png"), url("../../img/rogovaya-back-mobile@1x.png"), url("../../img/blue_back.png");
  background-position: right 25px top 86px, left -10px top 358px, left -19px top 86px;
  background-repeat: no-repeat;
}

.companions__section-title {
  margin-bottom: 26px;
  padding-top: 120px;
  padding-right: 50px;
  padding-left: 50px;
}

.companions__text {
  margin-bottom: 24px;
  padding-right: 50px;
  padding-left: 50px;
}

.companions__list {
  padding-top: 30px;
  padding-right: 25px;
  padding-left: 25px;
}

.companions__button {
  margin: 25px 25px 30px;
  padding: 24px;
}

.companions__card {
  margin-bottom: 10px;
}
