.companions {
  position: relative;
  background-color: $bg-color_primary_light;
  background-image: url("../../img/smolov-back-desktop@1x.png"), url("../../img/rogovaya-back-mobile@1x.png"), url("../../img/blue_back.png");
  background-position: right 25px top 86px, left -10px top 358px, left -19px top 86px;
  background-repeat: no-repeat;
}
