.companions-catalog {
  padding-right: 25px;
  padding-bottom: 46px;
  padding-left: 25px;
  background-color: $color_whisper;
}

.companions-catalog__card {
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .companions-catalog {
    padding-right: 40px;
    padding-left: 40px;
  }
}
