.contacts {
  list-style: none;
}

.contacts__link {
  @include font-family_default;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: $text-color_darker;
  text-decoration: none;
}
