.developers {
  display: flex;
  justify-content: space-between;
}

.developers__title {
  @include font-family_default;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $text-color_primary;
}

.developers__link {
  font-size: 0;
}
