.directions {
  position: relative;
  background-color: $color_whisper;

  &::after {
    @include section-border-radius_bottom;
  }
}

.directions__wrapper {
  box-sizing: border-box;

  @include container(320px);
}

.directions__description {
  font-size: $text-size_default;
  font-weight: 300;
  line-height: 22px;
  color: $color_tundora;
}

.directions__section-title {
  padding-right: 50px;
  padding-left: 50px;
}

.directions__text {
  margin-bottom: 60px;
  padding-right: 70px;
  padding-left: 50px;
}

.directions__list {
  padding-right: 25px;
  padding-left: 25px;
}

.directions__card {
  margin-bottom: 10px;
}

.directions__button {
  display: flex;
  align-items: center;
  margin: 25px 25px 0;
  padding: 24px;
}

.directions__flag {
  position: absolute;
  top: -23px;
  left: 25px;
}
