.level {
  @include font-family_default;
  color: $text-color_light;
}

.level__count {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.level__title {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
