.main-nav {
  background-color: transparent;
  display: inline-block;
}

.main-nav__toggle {
  font-size: 0;
  width: 25px;
  height: 11px;
  background-color: transparent;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
}

/*@media (min-width: $tablet-width) {
  .main-nav__toggle {
    position: absolute;
  }
}*/
