.page-main {
  box-sizing: border-box;
  background-color: $color_big-stone;
}

.page-main__wrapper {
  position: relative;
  box-sizing: border-box;
  background-color: $color_big-stone;

  @include container(320px);
}

.page-main__slogan {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  display: inline-flex;
  padding: 25px 40px 267px;
  text-align: center;
  color: $color_white;
}

.page-main__title {
  position: relative;
  margin: 0;
  padding-top: 10px;
  padding-left: 25px;
  color: $color_white;
  background-color: $color_big-stone;

  &::after {
    @include section-border-radius_bottom(20px);
  }
}

.page-main__contacts {
  margin: 0;
  padding-left: 0;
}

.page-main__wrapper-user {
  display: flex;
  justify-content: center;
  transform: translateY(50%);
}

.page-main__review {
  box-sizing: border-box;
  padding: 50px 100px 34px 50px;

  @include container(320px);
}

.page-main__progress {
  padding-top: 10px;
}

.page-main__about {
  padding-top: 70px;
  padding-bottom: 35px;
}

.page-main__directions {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.page-main_companions {
  display: flex;
  flex-direction: column;
}

.page-main__add-profile {
  padding-bottom: 6px;
}

@media (min-width: $tablet-width) {
  .page-main__wrapper {
    padding-right: 40px;
    padding-left: 40px;

    @include container($tablet-width);
  }

  .page-main__wrapper-user {
    position: absolute;
    top: -112px;
    right: 40px;
  }

  .page-main__contacts {
    visibility: hidden;
  }

  .page-main__slogan {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    display: inline-flex;
    padding: 25px 130px 470px;
    text-align: center;
    color: #ffffff;
  }

  .page-main__review {
    position: absolute;
    top: 435px;
    left: 50%;
    padding: 20px;
    transform: translateX(-103%);
  }

  .page-main__progress {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-main__contacts {
    visibility: visible;
  }

  .page-main__wrapper-user {
    display: none;
  }

  .page-main__wrapper {
    padding-right: 60px;
    padding-left: 60px;

    @include container($desktop-width);
  }

  .page-main__slogan {
    padding-top: 45px;
    padding-bottom: 130px;
    padding-left: 70px;
    width: 400px;
    text-align: left;
  }

  .page-main__review {
    top: 212px;
    right: 60px;
    left: auto;
    padding: 0;
  }
}
