.page-footer {
  position: relative;
  text-align: center;
  background-color: $color_white;

  &::before {
    @include section-border-radius_top;
  }
}

.page-footer__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;

  @include container(320px);
}

.page-footer__social {
  margin-bottom: 37px;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
}
