.page-main {
  background-color: $color_big-stone;
  box-sizing: border-box;
}

.page-main__wrapper {
  position: relative;
  background-color: $color_big-stone;
  background-image: url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top -65px center;

  @include container(320px);

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 49px;
    z-index: 0;
    width: 192px;
    height: 255px;
    background-image: url("../img/traveller-illustration-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.page-main__slogan {
  display: inline-flex;
  padding: 25px 40px 267px;
  color: $color_white;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.page-main__title {
  position: relative;
  margin: 0;
  padding-top: 10px;
  padding-left: 25px;
  color: $color_white;
  background-color: $color_big-stone;

  &::after {
    @include section-border-radius_bottom(20px);
  }
}

.page-main__contacts {
  padding-left: 0;
  margin: 0;
}

.page-main__wrapper-user {
  display: flex;
  justify-content: center;
  transform: translateY(50%);
}

.page-main__review {
  padding: 50px 100px 34px 50px;
  box-sizing: border-box;

  @include container(320px);
}

.page-main__progress {
  padding-top: 10px;
}

.page-main__about {
  padding-top: 70px;
  padding-bottom: 35px;
}

.page-main__directions {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.page-main_companions {
  display: flex;
  flex-direction: column;
}

.page-main__add-profile {
  padding-bottom: 6px;
}

@media (min-width: $tablet-width) {
  .page-main__wrapper {
    padding-top: 30px;
    padding-right: 40px;
    padding-left: 40px;

    @include container($tablet-width);
  }

  .page-main__wrapper-user {
    position: absolute;
    top: -116px;
    right: 40px;
  }

  .page-main__contacts {
    visibility: hidden;
  }
}
