.page-header {
  padding: 27px 25px;
  background-color: $bg-color_primary;
  box-sizing: border-box;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include container(320px);
}

.page-header__logo img {
  vertical-align: middle;
}
