.page-main__wrapper {
  background-color: $bg-color_primary;
  background-image: url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-main__slogan {
  @include font-family_default;
  color: $text-color_light;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: right;
}
