.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}

.pagination__item {
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  width: 50%;

  &:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid #edeff6;
  }

  &:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.pagination__link {
  display: inline-block;
  font-size: 0;
  width: 100%;
  height: 40px;
  background-color: $color_white;

  &_prev {
    background-image: url("../img/triangle-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px 20px;
  }

  &_next {
    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px 20px;
  }
}
