.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}

.pagination__item {
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  padding: 15px 62px;
  background-color: $bg-color_light;
  text-align: center;

  &:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.pagination__link {
  height: 100%;
  font-size: 0;
}
