.progress {
  box-sizing: border-box;
  background-image: linear-gradient($color_big-stone 80px, $color_blue-whale 80px);
}

.progress__wrapper {
  @include container(320px);
}

.progress__list {
  margin: 0;
  padding-right: 25px;
  padding-left: 25px;
  color: $color_big-stone;
  list-style: none;
  counter-reset: reviews 0;
}

.progress__item {
  position: relative;
  padding: 10px 110px 30px 20px;
  font-size: 18px;
  font-weight: 700;

  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: inherit;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  &::after {
    content: counter(reviews, decimal);
    counter-increment: reviews 1;
    display: inline-block;
    position: absolute;
    top: 13px;
    right: 21px;
    color: $color_white;
  }
}

.progress__item_type_first {
  background-color: $color_neon-carrot;
}

.progress__item_type_second {
  background-color: $color_sunshade;
}

.progress__item_type_third {
  background-color: $color_sunglow;
}

.progress__item_type_fourth {
  background-color: $color_mustard;
}

.progress__item_order_last {
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
