.progress {
  margin-top: -80px;
}

.progress__list {
  @include font-family_default;
  margin: 0;
  padding-left: 0;
  color: $text-color_darker;
  list-style: none;
}

.progress__item {
  padding: 20px 102px 30px 20px;
  font-size: 18px;
  font-weight: 700;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.progress__item_type_first {
  background-color: $bg-color-accent_dark;
}

.progress__item_type_second {
  background-color: $bg-color-accent_primary;
  transform: translateY(-10px);
}

.progress__item_type_third {
  background-color: $bg-color-accent_light;
  transform: translateY(-10px * 2);
}

.progress__item_type_fourth {
  background-color: $bg-color-accent_lighter;
  transform: translateY(-10px * 3);
}

.progress__item_order_last {
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
