.review {
  background-color: $color_big-stone;
  color: $color_white;
  font-size: $text-size_default;
  line-height: 22px;
}

.review__blockquote {
  margin: 0;
  padding-bottom: 25px;
  font-weight: 300;
}

.review__cite {
  font-weight: 700;
}
