.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-right: 40px;
  list-style: none;
  margin: 0;
}


.tags__item {
  color: $text-color_primary;
  font-size: $text-size_default;
  line-height: 18px;
  font-weight: 400;
}

.tags__item_small {
  font-size: 15px;
}
