.text {
  color: $color_white;
  font-size: $text-size_default;
  line-height: 22px;
}

.text_weight_light {
  font-weight: 300;
}

.text_weight_bold {
  font-weight: 700;
}

.text_theme_dark {
  color: $color_tundora;
}
