$color_big-stone: #161c36;
$color_blue-whale: #192144;
$color_cello: #1d2e5b;
$color_tundora: #444444;
$color_whisper: #edeff6;
$color_white: #ffffff;
$color_neon-carrot: #ff8d30;
$color_sunshade: #ffa530;
$color_sunglow: #ffbd30;
$color_mustard: #ffd74b;
$color_transparent: transparent;

$bg-color_primary: $color_big-stone;
$bg-color_primary_light: $color_blue-whale;
$bg-color_primary_lighter: $color_cello;
$bg-color_secondary: $color_whisper;
$bg-color_light: $color_white;
$bg-color_accent_lighter: $color_mustard;
$bg-color_accent_light: $color_sunglow;
$bg-color_accent_primary: $color_sunshade;
$bg-color_accent_dark: $color_neon-carrot;
$bg-color_transparent: $color_transparent;

$text-color_light: $color_white;
$text-color_primary: $color_tundora;
$text-color_dark: $color_cello;
$text-color_darker: $color_big-stone;
$text-color_accent: $color_neon-carrot;
